Loading the required packages

In [1]:
import numpy as np
import pandas as pd

Loading the data. The coffee_data contains the location of the coffee producers, consumers and imports and exports. The population data contains the population of different countries. We extract the 30 years we are interested in. countries contain the list of the countries from the population dataset. The countries in the coffee data is a subset  of the countries contained the population dataset.

In [6]:
coffee_data = pd.read_csv('./data/coffee-location-parham.csv')
population_data =pd.read_csv("./Population_trend.csv", skiprows=4,usecols=[x for x in range (34,65)])
countries = pd.read_csv("./Population_trend.csv", skiprows=4,usecols=['Country Name'])
countries.head()

                  Country Name
0                        Aruba
1  Africa Eastern and Southern
2                  Afghanistan
3   Africa Western and Central
4                       Angola

In [5]:
coffee_data.head()

,Country,Year,Production (tonnes),Exports (tonnes),Domestic_consumption (tonnes),Gross_opening_stocks (tonnes),imports (tonnes),Re_exports (US dollar per kg),Price_grower (US dollar per kg),Price_retail (US dollar per kg),Consumption (tonnes),Country_code,Latitude,Longitude,Country_type,Continent
0,Angola,1990,3020.70,5061.00,1200.0,12600.0,0.0,0.0,0.0,0.0,0.0,AO,-11.202692,17.873887,producer,Africa
1,Angola,1991,4759.86,4230.06,1800.0,9660.0,0.0,0.0,0.0,0.0,0.0,AO,-11.202692,17.873887,producer,Africa
2,Angola,1992,4651.20,4815.00,2100.0,8160.0,0.0,0.0,0.0,0.0,0.0,AO,-11.202692,17.873887,producer,Africa
3,Angola,1993,1956.48,2332.68,1200.0,6660.0,0.0,0.0,0.0,0.0,0.0,AO,-11.202692,17.873887,producer,Africa
4,Angola,1994,4608.12,498.12,1500.0,5760.0,0.0,0.0,0.0,0.0,0.0,AO,-11.202692,17.873887,producer,Africa

In [17]:
i=0
s=0
missing_val = 0 # just an index to locate the positions, 
#if there is a discrepency between the names of the countries in two data sets
pop = [] # array containing the population of the countries in the same order as 
#that in the coffe data set

while i<len(coffee_data["Country"]):
    missing_val = 0
    if(i>0 and (coffee_data["Country"][i]==coffee_data["Country"][i-1])):
        if(np.isnan(pop[-1])):
            pop.append(np.nan)
            i=i+1
            print(i)
            missing_val = 1
           
        else:
            pop.append(population_data[str(coffee_data["Year"][i])][s])
            i=i+1
        
        
    for j in range(len(countries["Country Name"])):
        if(coffee_data["Country"][i]==countries["Country Name"][j]):
            pop.append(population_data[str(coffee_data["Year"][i])][j])
            i = i+1
            s = j
            missing_val = 1
            

            
    if(missing_val == 0):
        pop.append(np.nan)
        i=i+1
        print(i)

1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740

KeyError: 2700

In [10]:
len(pop)

2700

The corresponding population data in now added to the coffee data.

In [12]:
coffee_data.replace(0,np.nan,inplace=True)
coffee_data["Population"] = np.array(pop).tolist()

In [14]:
coffee_data.to_excel("./Coffee-location-anirban.xlsx", index=False)

In [15]:
coffee_data.to_csv("./Coffee-location-anirban.csv", index=False)